.About-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    line-height: 1px;
}

.logo{
    margin-left: 1px;
    font-size: 30px;
    font-family: var(--font-secondary);
}

h5{
    font-family: var(--font-primary);
    
}