.footer-content-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 20px;

}

/* Mobile platform */
@media (max-width: 480px) and (min-width: 320px){
    .footer-content-container{
        gap: 50px;
        
        
    }
    
}