.quick-link-container{
   display: flex;
   flex-direction: column;
   justify-content:space-evenly;
   align-items: center;

}
.quick-link-container h3{
    margin-left: 35px;
    font-size: 15px;

}
.quick-link-container .footer-links{
    list-style: none;
    display: flex;
    gap: 30px;
    
}

.quick-link-container a{
    color: rgba(255, 255, 255, 0.466);
    gap: 20px;
    font-size: 14px;


}

.quick-link-container a:hover{
    color: white;
    border-bottom: 1px solid white;
}
 