.social-container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 10px;
}

.social-container h3{
    font-size: 12px;
    margin-bottom: 1px;
}

.social-container ul{
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.social-container i{
    color: rgba(255, 255, 255, 0.315);
}

.social-container i:hover{
    color: white;
}