.navBar {
    position: fixed;
    background-color: #3b3b3a;
    padding: 10px 1px;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    box-shadow: 5px 20px 25px rgba(0, 0, 0, 0.4);

}

.navBar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    gap: clamp(1px, 2vw, 1px);

}

.navBar li {
    margin: 0 clamp(5px, 2vw, 45px);
}


.navBar a {
    display: inline-block;
    text-decoration: none;
    color: #e7e7e7;
    font-family: 'Courier Prime', monospace;
    font-size: clamp(2px, 2vw, 16px);
    padding: 6px 2px;
    margin-top: 4px;

}

.navBar a:hover {
    background-color: #f7f0f0;
    border-radius: 50px;
    color: rgb(29, 28, 28);
}

.navBar {
    padding: 5px 3px;
}

.navBar ul a {
        margin-right: 5px;
        font-size: clamp(5px, 2vw, 20px);
    }



.navBar .logo-button-container{
    display: flex;
    gap: 40px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}

.navBar .button {
    
    background-color: #ffbd59;
    border: none;
    border-radius: 10px;
    font-size: clamp(6px, 1.5vw, 14px);
    color: #0c0b0b;
    font-weight: bold;
    height: clamp(10px, 3.5vw,30px);
    margin-top: 5px;
    width: clamp(20px, 20vw, 180px);
    animation: pulse 3s infinite;

}

@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.03);
    }
    100%{
        transform: scale(1);
    }
}

.button:hover {
    transform: scale(1.1);
    background-color: #fcfcfc;
    color: #ffbd59;
    transition: transform 0.5s ease, background-color 0.2s, color 0.2s;

}

/* TABLET VIEW  */

@media (max-width: 780px) {
    .navBar {
        padding: 5px 3px;
    }
}

/* MOBILE VIEW */
@media (max-width: 480px) and (min-width: 320px){
    .button {
        width: clamp(20px, 37vw, 150px);
        height: clamp(10px, 8vw, 200px);
        border-radius: 15px;
        border: none;
        margin-left: 10px;
        
        
    }

    .button:active {
        transform: scale(0.5);
        background-color: #ffffff;
        color: white;
    }

}

.logo-button-container .logo {
    font-size: clamp(10px, 5vw, 26px);
    color: #ffffff;
    font-family: "Gagalin";
}

