.navBar {
    position: fixed;
    background-color: #3b3b3a;
    width: 100%;
    min-height: 40px;
    top: 0;
    left: 0;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    z-index: 10;
    box-sizing: border-box;
    padding: 15px 30px;
    
}

.navBar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: clamp(15px, 2vw, 30px);
}

.navBar a {
    display: inline-block;
    text-decoration: none;
    color: #e7e7e7;
    font-family: 'Courier Prime', monospace;
    font-size: clamp(14px, 1.5vw, 18px);
    padding: 6px 14px;
    transition: all 0.3s ease;
}

.navBar a:hover {
    background-color: #f7f0f0;
    border-radius: 50px;
    color: rgb(29, 28, 28);
}

.navBar .button {
    background-color: #ffbd59;
    border: none;
    border-radius: 15px;
    font-size: clamp(11px, 1.2vw, 14px);
    color: #0c0b0b;
    font-weight: bold;
    height: 35px;
    padding: 0 15px;
    cursor: pointer;
    border: 1px solid white;
    animation: pulse 3s infinite ease-in-out;
    transition: background-color 0.2s, color 0.2s;
}

.navBar .button:hover {
    animation-play-state: paused;
    transform: scale(1.05);
    background-color: #fcfcfc;
    color: #ffbd59;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
        box-shadow: 0 0 5px white;
    }

    50% {
        transform: scale(1.03);
        box-shadow: 0 0 13px white;

    }
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
    padding: 5px 15px;
}


/* TABLET VIEW */
@media (max-width: 780px) {
    .navBar {
        padding: 10px 15px;
        position: fixed;
    }
}

@media (max-width: 480px) {
    .navBar {
        padding: 5px 10px;
        display: flex !important;
        flex-direction: row-reverse;
    }

    .menu-toggle {
        display: block !important;
        margin: 0 !important;
      
    }

    

    /* DROPDOWN MENU */
    .navBar ul {
        display: none;
        flex-direction: row;
        position: absolute;
        top: 50px;
        /* Saktong bagsak sa ilalim ng navbar block */
        left: 0;
        width: 100vw !important;
        box-sizing: border-box !important;
        background-color: #3b3b3a;
        padding: 20px 0;
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
        gap: 15px;
    }

    .navBar ul.active {
        display: flex !important;
    }

    .navBar .button {
        width: 8.01rem;
        padding: 2px 2px;
        height: 1.4rem;
        border: 1px solid white;
    }


}