body {
    background-color: #1b5802;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-content: start;
    padding: 70px 20px 20px;
    min-height: 100vh;

}

.container {
    grid-column: 1;
    justify-self: start;
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 700px;
    gap: 2px;
    padding-left: 30px;

}

@font-face {
    font-family: 'Gagalin';
    src: url('fonts/Gagalin-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.header {

    color: white;
    font-family: 'Courier Prime', monospace;
    font-size: clamp(18px, 5vw, 32px);
    font-weight: bold;
    margin-top: 50px;
    margin-left: 2px;

}

.name-header {

    color: #ffbd59;
    font-family: "Gagalin";
    font-size: clamp(24px, 8vw, 78px);

}

.box {
    background-color: transparent;
    width: clamp(20px, 40vw, 640px);
    top: clamp(10px, 100vh, 150px);
    left: clamp(1px, 10vw, 98px);
}

.description {
    text-align: justify;
    line-height: 1.5;
    font-size: clamp(5px, 1.2vw, 22px);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.image-box {
    grid-column: 2;
    justify-self: start;
    display: flex;
    flex-direction: column;
    height: auto;
    width: clamp(100px, 45vw, 800px);
    padding-left: 35px;
    padding-top: 58px
}

.my-image {
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.navBar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-color: #ffbd59;
    padding: 9px 1px;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 5px 20px 25px rgba(47, 65, 7, 0.5);
   
}

@media (max-width: 780px) {
    .navBar {
        padding: 5px 3px;
    }


}

@media (max-width: 480px) {

    body {
        grid-template-columns: 1fr;
    }

    .navBar {
        padding: 1px 3px;

    }

    .header {
        font-size: clamp(1px, 7vw, 20px);
    }

    .name-header {
        font-size: clamp(2px, 18vw, 30px);
    }

    .image-box {
        width: 50vw;
        margin-left: 0;
    }

    .container {
        padding-left: 20px;
        justify-self: center;

    }


}


.logo {
    font-size: clamp(5px, 2vw, 20px);
    color: #1b5802;
    font-family: "Gagalin";
    margin-left: clamp(1px, 2vw, 70px);
    margin-top: clamp(5px, 4vh, 2px);
}

.navBar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    gap: clamp(1px, 2vw, 1px);

}

.navBar li {
    margin: 0 clamp(5px, 2vw, 45px);
}


.navBar a {
    display: inline-block;
    text-decoration: none;
    color: #1b5802;
    font-size: clamp(2px, 1.5vw, 20px);
    padding: 6px;
    
    
    

}

.navBar a:hover {
    background-color: #77946c;
    border-radius: 50px;
    color: white;

}