.card-list{
   gap: 50px;

}

.card-list .card-item {
    display: block;
    background: rgba(236, 232, 232, 0.445);
    aspect-ratio: 1/1;
    width: 30%;
    padding: 10px 10px;
    border-radius: 20px;
    box-shadow:
    10px 3px 20px   rgba(51, 49, 49, 0.479),
    -3px -5px 25px rgb(252, 249, 249);

}

.card-list .card-item img{
    width: 100%;
    height: 30rem;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 10px;

}

.card-list .card-item .badge{
   
    padding: 2px 2px;
    background:  rgba(128, 128, 128, 0.5);
    width: 130px;
    border-radius: 10px;
    margin-bottom: 20px;
    
}

.card-list .card-item 






.card-list .card-item .card-link .badge{
    
    display: flex;
    justify-content: center;
    background: rgba(14, 11, 11, 0.116);
    color: #817f7f;
    font-size: 10px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.329);
    padding: 2px 5px;
    width: 66px;
    margin-left: -3px;

}

.card-title{
    
    color: black;
    font-size: 17px;

}
