.artwork-container{
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    font-family: 'Courier Prime', monospace;
    background: rgb(243, 238, 238);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 30px 30px;

    
}

.card-wrapper
{
    gap: 20px;
    width: 100%;
    overflow: hidden;
}



/* Mobile platform */
@media (max-width:480px) and (min-width: 320px){
    .artwork-container{

    width: 100%;
    margin-top: 10px;
    margin-left: 0px;
}

.card-list .card-item .card-link{
    width: 100%;
    padding: 18px;
    margin-left: -60px;
}

}