.stats-container {
    display: flex !important; 
    flex-direction: row;
    justify-content: flex-start; 
    gap: clamp(11px, 1vw, 20px);
    padding: clamp(15px, 2vw, 25px) 0; 
    border-top: 1px solid rgba(255, 255, 255, 0.5); 
    width: auto;
    box-sizing: border-box;

}

.stats-container .stats {
    gap: 1rem;
}

.stats-container h2 {
    text-align: center;
    width: 2.5em;
    font-size: clamp(20px, 2vw, 30px);
}

.stats-container h5 {
    color: rgba(0, 0, 0, 0.452);
    font-size: clamp(10px, 1vw, 15px);
}

@media (max-width:480px) and (min-width: 300px) {
    .stats-container {
        gap: clamp(-23px, -25vw, 15px);
        padding-left: 0;
        
    }

    .stats-container .stats {
    gap: 5px;
}

}