.artist-badges-box {

    display: flex;
    flex-direction: row;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    width: clamp(20px, 40vw, 630px);
    top: clamp(10px, 100vh, 150px);
    left: clamp(1px, 10vw, 98px);

}

.artist-badge-1 {

    text-align: justify;
    line-height: 1.6;
    font-size: clamp(5px, 1vw, 11px);
    font-family: 'Courier Prime', monospace;
    color: rgba(255, 255, 255, 0.753);
    background: rgba(143, 140, 140, 0.753);
    width: clamp(5px, 15vw, 180px);
    padding-left: clamp(1px, 1vw, 15px);
    padding-top: 2px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 7px 5px 5px -2px rgba(0, 0, 0, 0.322);

}

.artist-badge-2 {

    text-align: justify;
    line-height: 1.6;
    font-size: clamp(5px, 1vw, 11px);
    font-family: 'Courier Prime', monospace;
    color: rgba(31, 30, 30, 0.781);
    background: rgba(253, 212, 77, 0.425);
    width: clamp(5px, 9vw, 104px);
    padding-left: 9px;
    padding-top: 2px;
    border-radius: 5px;
    box-shadow: 7px 5px 5px -2px rgba(0, 0, 0, 0.322);
    border: 1px solid black;
}

.artist-badge-3 {

    text-align: justify;
    line-height: 1.6;
    font-size: clamp(5px, 1vw, 11px);
    font-family: 'Courier Prime', monospace;
    color: rgba(63, 57, 57, 0.829);
    background: rgba(255, 255, 255, 0.774);
    width: clamp(5px, 9vw, 104px);
    padding-left: 10px;
    padding-top: 2px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 7px 5px 5px -2px rgba(0, 0, 0, 0.322);

}

.artist-badge-3:hover,
.artist-badge-2:hover,
.artist-badge-1:hover {
    transform: scale(1.1);
    transition: 0.6s;
}

